<%- include("partials/Header3.ejs") %>

<div class="random-button d-flex flex-column align-items-center justify-content-center">
    <p class="random-txt">Take a chance and discover a new anime!</p>
    <a href="/random"><button class="random btn btn-outline-light" >Random Anime</button></a>
</div>

<%- include("partials/footerfixed.ejs") %>
