:root{
    --txt-color: white;
    --std-margin: 14vh 16vw 10vh 16vw;
    --bdr-color-anime: rgb(0, 31, 56);
}

body.animeImg{ 
    background-color: #001f38;
}

body.clr {
    background-color: #001f38;
}

body.startIMG {
    background: linear-gradient(rgba(0, 31, 56, 0.7), rgba(0, 31, 56, 0.7)), url('../images/background.jpg') ;
    background-size: cover;
    height: 100%;
}

.random-button {
    margin-top: 36vh;
    margin-bottom: 36vh;
    font-family:"Sometype Mono";
    color: white;
}

.random {
    background-color: var(--bdr-color-anime);
    transition: 50ms;
}

.random:hover {
    color: white;
    background-color: var(--bdr-color-anime);
    box-shadow: 6px 6px white;
    transition: 50ms ease-in-out;
}

/* search results */
.search-info {
    display: flex;
    color: var(--txt-color);
    margin: 8vh 16vw 10vh 16vw;
}

.titleImg {
    width: 180px;
    height: 258px;
    border-radius: 8px;
    will-change: transform;
    transition: transform 450ms ;
}

.titleImg:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
}

/* anime card */

.anime-card {
    margin: 12px 24px 12px 0px;
}


/* anime */

.anime-info {
    display: flex;
    color: var(--txt-color);
    margin: var(--std-margin);
}

.info {
    padding-left: 4vw;
    margin-top: 0vh;
}

.anime-info img {
    justify-content: right;
    height: 494px;
    border-radius: 12px;
    border: var(--bdr-color-anime) solid 5px;
    /* max-width: 50%; */
}



.anime-info ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 10px;
}

.anime-info li {
    padding-right: 10px;
}

.primary-txt-pill {
    font-family: "Sometype Mono";
    color: rgb(53, 53, 53)
}


.primary-txt {
    font-family: "Sometype Mono";
    color: var(--txt-color);
}

.divison {
    color: #7fffd4;
}
